.row {
    margin-bottom: 1rem;
}

.input {
    position: relative;
    margin-top: 2rem;
}

input, textarea {
    width: 75%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Ensure textarea grows dynamically */
.description-item textarea{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; 
}

.description {
    flex-grow: 1; 
    width: 100%;
    min-height: 40px;
    
    resize: none;

}

.input .description,
.input textarea {
    width: 100%; 
    min-height: 40px;
    max-width: 100%; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    flex-grow: 1; 
    font-family: Arial, sans-serif;
}



/* Expand on input */
textarea:focus,
textarea:not(:placeholder-shown) {
    border-color: rebeccapurple;
}

/* Placeholder label behavior */
label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
    display: none;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: rebeccapurple;
    display: block;
}
