/* Resume Styling */

.resume-container {
    width: 816px; /* 8.5 inches */
    height: 1056px; /* 11 inches */
    margin: 0 auto; 
    padding: 20px;
    background-color: white;
    color: black; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

@media print {
    .resume-preview {
        width: 100%;
        height: auto;
        margin: 0;
        box-shadow: none;
    }
}

/* Header Section */
.header {
    text-align: center;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    color: #555;
    margin-top: 0;
}

.contact p {
    margin: 5px 0;
}

/* Section Styling */

.section h2 {
    font-size: 16px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Experience Section */
.experience-item {
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.company-title {
    display: flex;
    flex-direction: column;
}

.company-title h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.company-title .title {
    font-size: 14px;
    font-style: italic;
    margin: 0;
}

.experience-item .description {
    margin: 0;
    padding-left: 16px; 
    list-style-type: disc;
    font-size: 14px;
}

/* Education Section */
.education-item {
    font-size: 14px;
    break-inside: avoid;
    margin-top: 0;
    padding: 0;
}

.education-item .uni h3 {
    font-weight: bold;
    margin: 0;
}

.education-item p,
.uni .title {
    font-style: italic;
    margin: 0;
}

.education-item .description {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Skills and Certifications */

.description .skills-courses {
    list-style-type: none;
    break-inside: avoid;
    margin-top: 0;
    padding: 0;
}

.section .description{
    font-size: 14px;
    
}
/* Grad Details */
.grad-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    font-style: italic;
    
}

.grad-details .grad-date {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    break-inside: avoid;
}

.grad-details .city {
    font-size: 14px;
    font-style: italic;
    color: #777;
    margin: 0;
}

/* Dates and Location (Shared Styling) */
.dates-location {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
}

.dates-location .dates {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    break-inside: avoid;
}

.dates-location .location {
    font-size: 12px;
    font-style: italic;
    color: #777;
}
